POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me
AUTH_POSTGRES_DB=auth_local_db
EVENTS_POSTGRES_DB=events_local_db
FAMILYTREE_POSTGRES_DB=familytree_local_db

REDIS_PASSWORD=change_me

RABBITMQ_USER=change_me
RABBITMQ_PASSWORD=change_me
RABBITMQ_URL=amqp://change_me:change_me@rabbitmq:5672/

NEO4J_USER=neo4j
NEO4J_PASSWORD=change_me

JWT_SECRET=change_me

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=change_me@example.com
SMTP_PASSWORD=change_me
SMTP_FROM=change_me@example.com
